.Contents {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Box {
    background-color: #302F3D;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 1% 0px;
    display: flex;
    flex-direction: row;
}

.Left {
    display: flex;
    align-items: center;
}

.Left img {
    border-radius: 100px;
    width: 15vh;
    height: 15vh;
}

.Right {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Title {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.6em;
}

.Title h1 {
    margin: 0;
    margin-bottom: 2%;
}

.Title p {
    margin: 0px;
    font-size: 1em;
}

.Content {
    font-size: 0.9em;
    padding-top: 10%;
}

.Tag {
    padding: 0px 0px 4% 0px;
}

.Tag2 {
    font-size: 0.8em;
}

.Content p {
    margin: 0px;
}