@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #22212C;
}

h1,
p,
li {
  color: #837E9F;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}